{% extends 'base.html' %}

{% block title %}{{ tournament.name }}{% endblock %}

{% block content %}
<h1>{{ tournament.name }}</h1>
<div class="list-container">
    {% for message in get_flashed_messages() %}
    <p class="alert-success flash-message">{{ message }}</p>
    {% endfor %}
    <ul id="nav-bar" class="nav nav-tabs">
        <li class="nav-item"><a id="standings-nav" class="nav-link">Pool Standings</a></li>
        <li class="nav-item"><a id="semifinals-nav" class="nav-link active">Semifinals</a></li>
        <li class="nav-item"><a id="this-week-nav" class="nav-link">This Week</a></li>
        <li class="nav-item"><a id="schedule-nav" class="nav-link">Full Schedule</a></li>
    </ul>
    <div id="standings" class="container">
        <div id="advance-info" class="row">
            <h6><small class="text-muted"><em><b>x</b> - advances to semifinals</em></small></h6>
        </div>
        <div id="width-setter" class="row">
            {% for pool in pools %}
            <div class="col-6 pool-grid">
                <h3>{{ pool.name }}</h3>
                <ul class="list-group">
                    {% for player in pool.standings %}
                    <li id="player-{{ player.seed }}"
                        class="list-group-item{% if player.advances %} advances{% endif %}">
                        <div class="row">
                            <div class="col-10">
                                <h6><small class="text-muted">{{ player.seed }}</small> {{ player.first_name }}
                                    {{ player.last_name }} <small
                                        class="text-muted"><em>{{ player.rating }}</em>{% if player.advances %} -
                                        <em><b>x</b></em>{% endif %}</small></h6><a href="{{ player.url }}"
                                    target="_blank">{{ player.username }}</a>
                            </div>
                            <div class="col-2 score-box">{{ player.score|round(1) }}</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="semifinals" class="container">
        <div id="advance-info-semifinals" class="row">
            <h6><small class="text-muted"><em><b>x</b> - advances to championship match</em></small></h6>
        </div>
        <div class="row playoff-row">
            {% for pool in semifinals %}
            <div class="col-6 pool-grid">
                <h3>{{ pool.name }}</h3>
                <ul class="list-group">
                    {% for player in pool.standings %}
                    <li id="player-{{ player.seed }}-s"
                        class="list-group-item{% if player.advances %} advances{% endif %}">
                        <div class="row">
                            <div class="col-10">
                                <h6><small class="text-muted">{{ player.seed }}</small> {{ player.first_name }}
                                    {{ player.last_name }} <small
                                        class="text-muted"><em>{{ player.rating }}</em>{% if player.advances %} -
                                        <em><b>x</b></em>{% endif %}</small></h6><a href="{{ player.url }}"
                                    target="_blank">{{ player.username }}</a>
                            </div>
                            <div class="col-2 score-box">{{ player.score|round(1) }}</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="this-week" class="container">
        <h3>{{ current_week.name }}</h3>
        <p id="week-end-date" class="text-muted"><em>Ends {{ current_week_ends.strftime('%a %b %d, %I:%M %p') }}</em></p>
        <ul class="list-group">
            {% for game in current_week.games %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-12">
                        {% if game.result %}
                        <small class="text-muted">Game complete</small>
                        {% else %}
                        <small class="text-muted">{% if game.schedule %}{{ game.schedule.strftime('%a %b %d, %I:%M %p') }}{% else %}Schedule
                            TBD{% endif %}</small>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <h6><span class="white">&nbsp;&nbsp;&nbsp;&nbsp;</span> <a href="{{ game.white.url }}"
                                target="_blank">{{ game.white.username }}</a> <small
                                class="text-muted"><em>{{ game.white.rating }}</em></small></h6>
                    </div>
                    <div class="col-2 score-box">
                        {% if game.result %}{% if game.result == '1-0' %}1{% elif game.result == '0.5-0.5' %}0.5{% else %}0{% endif %}{% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <h6><span class="black">&nbsp;&nbsp;&nbsp;&nbsp;</span> <a href="{{ game.black.url }}"
                                target="_blank">{{ game.black.username }}</a> <small
                                class="text-muted"><em>{{ game.black.rating }}</em></small></h6>
                    </div>
                    <div class="col-2 score-box">
                        {% if game.result %}{% if game.result == '0-1' %}1{% elif game.result == '0.5-0.5' %}0.5{% else %}0{% endif %}{% endif %}
                    </div>
                </div>
                {% if game.result %}
                <div class="row">
                    <div class="col-12 schedule-button-container">
                        <a href="{{ game.url }}" target="_blank" class="btn btn-outline-success schedule-button">View
                            Game</a>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-6"><button type="button" id="schedule-{{ game.id }}"
                            class="btn btn-outline-secondary schedule-button">{% if game.schedule %}Reschedule{% else %}Schedule{% endif %}</button>
                    </div>
                    <div class="col-6 schedule-button-container">
                        <button type="button" id="report-{{ game.id }}"
                            class="btn btn-outline-success report-button">Report
                            Result</button>
                    </div>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="schedule" class="container">
        <div class="row">
            {% for week in weeks %}
            <div class="col-6 schedule-grid">
                <h3>{{ week.name }}</h3>
                <ul class="list-group">
                    {% for game in week.games %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12">
                                {% if game.result %}
                                <small class="text-muted">Game complete</small>
                                {% else %}
                                <small class="text-muted">{% if game.schedule %}{{ game.schedule.strftime('%a %b %d, %I:%M %p') }}{% else %}Schedule
                                    TBD{% endif %}</small>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <h6><span class="white">&nbsp;&nbsp;&nbsp;&nbsp;</span> <a href="{{ game.white.url }}"
                                        target="_blank">{{ game.white.username }}</a> <small
                                        class="text-muted"><em>{{ game.white.rating }}</em></small></h6>
                            </div>
                            <div class="col-2 score-box">
                                {% if game.result %}{% if game.result == '1-0' %}1{% elif game.result == '0.5-0.5' %}0.5{% else %}0{% endif %}{% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <h6><span class="black">&nbsp;&nbsp;&nbsp;&nbsp;</span> <a href="{{ game.black.url }}"
                                        target="_blank">{{ game.black.username }}</a> <small
                                        class="text-muted"><em>{{ game.black.rating }}</em></small></h6>
                            </div>
                            <div class="col-2 score-box">
                                {% if game.result %}{% if game.result == '0-1' %}1{% elif game.result == '0.5-0.5' %}0.5{% else %}0{% endif %}{% endif %}
                            </div>
                        </div>
                        {% if game.result %}
                        <div class="row">
                            <div class="col-12 schedule-button-container">
                                <a href="{{ game.url }}" target="_blank"
                                    class="btn btn-outline-success schedule-button">View
                                    Game</a>
                            </div>
                        </div>
                        {% else %}
                        <div class="row">
                            <div class="col-6"><button type="button" id="schedule-{{ game.id }}"
                                    class="btn btn-outline-secondary schedule-button">{% if game.schedule %}Reschedule{% else %}Schedule{% endif %}</button>
                            </div>
                            <div class="col-6 schedule-button-container">
                                <button type="button" id="report-{{ game.id }}"
                                    class="btn btn-outline-success report-button">Report
                                    Result</button>
                            </div>
                        </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if admin %}
    <div class="schedule-button-container">
        <a href="/tournaments/{{ tournament.id }}/admin" id="admin-page-button"
            class="btn btn-outline-secondary schedule-button">Admin Page</a>
    </div>
    {% endif %}
</div>
<div id="scheduler-form"></div>
<div id="report-form"></div>
{% endblock %}